In [4]:
# import necessary libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import joblib

In [5]:
df = pd. read_csv("T1.csv")

In [8]:
df.head()

,Date/Time,LV ActivePower (kW),Wind Speed (m/s),Theoretical_Power_Curve (KWh),Wind Direction (°)
0,01 01 2018 00:00,380.047791,5.311336,416.328908,259.994904
1,01 01 2018 00:10,453.769196,5.672167,519.917511,268.641113
2,01 01 2018 00:20,306.376587,5.216037,390.900016,272.564789
3,01 01 2018 00:30,419.645905,5.659674,516.127569,271.258087
4,01 01 2018 00:40,380.650696,5.577941,491.702972,265.674286

In [13]:
#Splitting the Data into train and test :
y = df['LV ActivePower (kW)'] #' Theoretical Power Curve (kWh)', 
x = df[['Theoretical_Power_Curve (KWh)', 'Wind Direction (°)']]#'ActivePower (kW)'
from sklearn.model_selection import train_test_split
train_x, val_x, train_y, val_y = train_test_split(x, y, random_state = 0)

In [14]:
train_x

       Theoretical_Power_Curve (KWh)  Wind Direction (°)
6946                        0.000000          288.385498
44806                       0.000000          269.075989
1390                     1064.338099          217.245697
8568                     3600.000000          190.527298
10637                    3600.000000          211.581406
...                              ...                 ...
21243                     780.031276           59.202740
45891                    3600.000000           33.390461
42613                    3336.659665           64.414131
43567                     781.987996           73.024986
2732                     3600.000000          208.179398

[37897 rows x 2 columns]

In [15]:
train_y

6946        0.000000
44806       0.000000
1390      901.988220
8568     3467.918945
10637    3602.383057
            ...
21243     654.797180
45891    3599.656982
42613    3031.635986
43567     730.650085
2732     3604.448975
Name: LV ActivePower (kW), Length: 37897, dtype: float64

In [16]:
val_x

       Theoretical_Power_Curve (KWh)  Wind Direction (°)
47469                     609.081469           73.278328
4456                     1608.179354           57.538979
49305                    1650.739196          254.491394
48151                    3493.172818          176.449707
33422                     178.963457           28.394060
...                              ...                 ...
2269                     3600.000000          201.243500
35809                       0.000000           32.924881
18575                       0.000000          270.621887
1194                       19.326801           63.878040
8590                     3600.000000          180.215195

[12633 rows x 2 columns]

In [17]:
val_y

47469     576.656982
4456     1619.301025
49305    1876.581055
48151    3367.349121
33422     151.391693
            ...
2269     3501.498047
35809       0.000000
18575       0.000000
1194        0.000000
8590     3599.665039
Name: LV ActivePower (kW), Length: 12633, dtype: float64